.card-custom {
  border-radius: 15px;
  margin: 20px;
}

.card-custom .form-group {
  margin-bottom: 1rem;
}

.card-custom .form-label {
  margin-bottom: 0.5rem;
}

.card-custom .form-control {
  padding: 0.75rem 1rem;
}
.profile{
  margin-bottom:40%;
  margin-top: 15%;
  margin-left: 20px;
}


.deletecard{
  margin-left: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 550px) {
  .card-custom {
    margin: 20px;


  }
  #text-btn{
    line-height: 0.6;
    margin-bottom: 0px;
  }
  .deletecard{
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
}
@media (max-width: 375px){
  .deletecard{
  margin-left: 60px;
  }
 
}
@media(max-width:320px){
  .deletecard{
    margin-left: 28px;
  }
}