.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color:  #f8f9fa;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: smaller;
}

main {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: darkcyan;
    transition: padding-top 0.3s ease; /* Add transition */
}

.main-with-dropdown {
    padding-top: 150px; /* Adjust this value as needed */
}

p {
    padding: 0;
    margin: 0;
}

.home {
    margin-top: 18px;
}

.dp {
    margin-top: 18px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.me-icon {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
}

.top-icon .home {
    width: 20px;
    height: 20px;
    color: #000;
}

.settings-dropdown {
    position: relative;
}

.dropDownProfile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    width: max-content;
}

.dropDownProfile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropDownProfile li {
    margin-bottom: 5px;
}

.dropDownProfile li a {
    text-decoration: none;
    color: #333;
}

.top-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    color: #000;
}

.top-icon:hover {
    opacity: 1;
}

.notification-container:hover {
    opacity: 1;
}

.main {
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.my-picture {
    width: 30%;
    border: 2px white solid;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 30px;
}

.about {
    border: 1px solid white;
    background-color: white;
    border-bottom: 1px solid rgba(199, 192, 192, 0.5);
}

.about h5 {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 0;
}

.about p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.middle-main {
    flex: 1;
}

.middle-pic {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.middle-main-1 {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
    flex: 1;
    width: 100%;
}

.post-1 {
    display: flex;
    padding: 10px 20px;
}

.post {
    flex: 1;
    border: 1px solid rgba(199, 192, 192, 0.5);
    background-color: transparent;
    border-radius: 40px;
    height: 50px;
}

.post::placeholder {
    padding-left: 10px;
    color: black;
}

.upload {
    height: 25px;
    margin: 12px;
}

.input {
    display: flex;
    align-items: center;
}

.linked-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    img {
        width: 40px;
    }
}

.post-about {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.post-image {
    width: 100%;
    margin-top: 10px;
}

.middle-main-2 {
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 12px;
    flex: 1;
    margin-top: 35px;
}

.name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.name-about {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}

.link {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.link-2 {
    width: 80px;
}

.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.icon {
    height: 15px;
    margin-right: 10px;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position {
    position: sticky;
    top: 80px;
}

.linked-input img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top-icon,
    .me-icon {
        margin-right: 7px;
        width: 10px;
    }
    .me-icon{
        display: none;
    }
    .dropDownProfile{
        margin: 10%;
        right:500px;
    }

    .top-icon label,
    .me-icon label {
        display: none;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}

