.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color:  #f8f9fa;
    padding-left: 120px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: smaller;
}

main {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);;
    transition: padding-top 0.3s ease; /* Add transition */
}

.main-with-dropdown {
    padding-top: 150px; /* Adjust this value as needed */
}


p {
    padding: 0;
    margin: 0;
}

.home {
    margin-top: 18px;
}

.dp {
    margin-top: 18px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.me-icon {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
}

.top-icon .home {
    width: 20px;
    height: 20px;
    color: #000;
}

.settings-dropdown {
    position: relative;
}

.dropDownProfile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    width: max-content;
    
}

.dropDownProfile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropDownProfile li {
    margin-bottom: 2%;
}

.dropDownProfile li a {
    text-decoration: none;
    color: #333;
}

.top-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    color: #000;
}

.top-icon:hover {
    opacity: 1;
}

.notification-container:hover {
    opacity: 1;
}

.main {
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.my-picture {
    width: 30%;
    border: 2px white solid;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 30px;
}

.about {
    border: 1px solid white;
    background-color: white;
    border-bottom: 1px solid rgba(199, 192, 192, 0.5);
}

.about h5 {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 0;
}

.about p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.postdiv{
    display: inline-flex;
}

.middle-main {
    flex: 1;
}
.iconsdiv{
    display: inline-block;    
}

.middle-pic {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.middle-main-1 {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
    flex: 1;
    width: 100%;
}

.post-1 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    height: auto;
    margin-top: 5%;
}

.post {
    flex: 1;
    border: 1px solid rgba(199, 192, 192, 0.5);
    background-color: transparent;
    border-radius: 40px;
    height: 40px;
    
}

.post::placeholder {
    padding-left: 10px;
    color: black;
}

.upload {
    height: 25px;
    margin: 12px;
}

.input {
    display: flex;
    align-items: center;
}

.linked-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 8px;
    padding-top: 12px;
}

.post-about {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    display: block;
}

.post-image {
    width: 50%;
    margin-top: 8px;
    display: block; /* Ensure each image is displayed as a block element */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}


.middle-main-2 {
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 12px;
    flex: 1;
    margin-top: 35px;
}

.name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.name-about {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}

.right-main {
    width: 290px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.right-main-1 {
    background-color: white;
    border: 1px solid rgba(199, 192, 192, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 290px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.arz {
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

.arz-info {
    width: 180px;
}

.arz-card {
    display: flex;
    margin-bottom: 5px;
}

.arz-info h5 {
    margin-bottom: 5px;
}

.arz-info p {
    margin-bottom: 10px;
    font-size: 12px;
}

.follow-button {
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 15px;
}

.right-main-2 {
    height: 260px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(199, 192, 192, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 290px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.navbar-nav  {
    padding: 0.5rem 1rem; 
    text-align: left;
  }

.link {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
#sendPost{
    /* padding: 4px 6px; */
}
#sendPost{
    border-style: none;
    background-color: transparent;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    padding-top: 12px
}

.link-2 {
    width: 80px;
}

.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.icon {
    height: 15px;
    margin-right: 10px;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position {
    position: sticky;
    top: 80px;
}


.linked-input, #sendPost{
    /* justify-content:flex-start; */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: black;
}
@media (max-width: 768px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .dropdown-menu {
        min-width: 300px;
    }

    .top-icon,
    .me-icon {
        margin-right: 7px;
        width: 10px;
    }
    .me-icon{
        display: none;
    }
    .dropDownProfile{
        left: 0;
        right: auto;
        top: 40px;
        display: block;

    }

    .top-icon label,
    .me-icon label {
        display: none;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 992px) {
    .dropdown-menu {
      min-width: 40%; 
    }
  }
  @media (min-width: 550px) {
    .navbar-nav {
      padding: 0.75rem 1.5rem; /* Increase padding for large screens */
    }
  }

@media (max-width: 768px) {
    .middle-main-1,
    .middle-main-2 {
        max-width: 100%;
    }
    
    .post-1 {
        flex-direction: row;
        align-items:center;
    }
    
    .middle-pic {
        margin-bottom: 5px;
    }

    
    .middle-main-1{
        width: fit-content;
    }

    
    .post {
        margin-bottom: 10px;
    }
 


}

@media (max-width: 480px) {
    .post-1 {
        padding: 1%;
        display: inline-flex;
    }
/* 
    .linked-input img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    } */
    .post{
        width: 100%;
    }
    .dropDownProfile{
        left:auto;
    }

    
}
@media (max-width: 850px) {


    .header{
        padding: 10px;
    }
    }

    
