
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: smaller;
    
    
}
main {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: darkcyan;
}
p {
padding: 0;
margin: 0;
}


.home {
    height: 23px;
    margin-bottom: 0px;
}
.dp {
    margin-top: 10px;
    height: 30px;
    border-radius: 50%;
    
}
.me-icon {
    display: flex; 
    flex-direction: column;
    padding-top: 2px;
   padding-bottom: 2px;
}

.top-icon {
margin-top: 15px;
   display: flex; 
   flex-direction: column;
   opacity: 0.6;
   padding-top: 2px;
   padding-bottom: 2px;
}
.top-icon:hover {
    opacity: 1;
}
.notification {
    margin-top: 16px;
    height: 23px;
    margin-bottom: 0px;
}
.notification-container {
    display: flex; 
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
 }
 .notification-container:hover {
     opacity: 1;
 }
 

.main {
    display: flex;
    justify-content: space-between;
    

}
.left-main {
    width: auto;
    display: flex;
    flex-direction: column;

}

.left-main-1 {
    height: 450px;
    width: 600px;
    margin-bottom: 10px;
    position: absolute;
    top: 1;
    left:  85px;
    border: 1px solid rgba(199, 192, 192, 0.5);
    border-radius: 10px;
    background: radial-gradient(ellipse at center, #0E2A47 0%, #1D4D75 30%, #2A7DAD 60%, #58C2FF 100%);
    width: 230px;
    margin-right: 25px; 
    display: flex;
    flex-direction: column;
}
.banner {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.my-picture {
    width: 30%;
    border: 2px white solid;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 30px;
    
}
.about {
    border: 1px solid white;
    background-color: white;
    border-bottom: 1px solid rgba(199, 192, 192, 0.5);
}
.about h5 {
     padding-top: 30px; 
    text-align: center;
    margin-bottom: 0;
}
.about p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 10px;
}
.middle-main {
    flex: 1;
   
}
.middle-pic {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.middle-main-1 {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
    flex: 1;
    width: 100%;

}
.post-1 {
    display: flex;
    padding: 10px 20px;
    
    
}


.post {
    flex: 1;
    border: 1px solid rgba(199, 192, 192, 0.5);
    background-color: transparent;
    border-radius: 40px;
    height: 50px;
    

}
.post::placeholder {
    padding-left: 10px;
    color: black;
}
.upload {
    height: 25px;
    margin: 12px;
}
.input {
    display: flex;
    align-items: center; 
}
.linked-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}
.post-about {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;

}
.post-image {
    width: 100%;
    margin-top: 10px;
}
.middle-main-2 {
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 12px;
    flex: 1;
    margin-top: 35px;

   
}
.name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}
.name-about {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}
.right-main {
    width: 290px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
   
}

.right-main-1 {
    /* height: 420px; */
    background-color:white;
    border: 1px solid rgba(199, 192, 192, 0.5);
    border-radius: 10px;
    margin-bottom: 10px; 
    padding-top: 10px;
    padding-left: 10px;
    width: 290px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.arz {
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
}
.arz-info {
   width: 180px;
}
.arz-card {
    display: flex;
    margin-bottom: 5px;
}
.arz-info h5 {
    margin-bottom: 5px;
}
.arz-info p {
    margin-bottom: 10px;
    font-size: 12px;
}
.follow-button {
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 15px;
}
.right-main-2 {
    height: 260px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border: 1px solid rgba(199, 192, 192, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
        width: 290px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;

}
.link {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.link-2 {
    width: 80px;
}
.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right-main-2 button {
    padding: 10px 12px;
    margin-top: 20px;
    color: blue;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 20px;
    width: 70%;
}
.right-main-3 {
    height: 200px;
   
    
}
.icon {
    height: 15px;
    margin-right: 10px;
}
.icon-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.position {
    position: sticky;
    top: 80px;
}


@media (max-width: 768px) {
  .header {
      padding-left: 10px;
      padding-right: 10px;
  }

  .top-icon,
  .notification-container,
  .me-icon {
      margin-right: 10px;
  }

  .top-icon label,
  .notification-container label,
  .me-icon label {
      display: none;
  }

  main {
      padding-left: 10px;
      padding-right: 10px;
  }
}